.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem; /* Adjust based on your preference */
  background-color: #444; /* Dark background for contrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.header h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle text shadow for depth */
}
